%h2 Events &amp; Tasks
.pull-right=will_paginate events

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Time
      %th Model
      %th Operation
      %th State
  %tbody
    - tasks.each do |t|
      %tr
        %td
          - time_ago(t.created_at)
        %td=t.klass
        %td=t.name
        %td=t.state

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Time
      %th Category
      %th Severity
      %th Message
  %tbody
    - events.each do |e|
      %tr
        %td
          - time_ago(e.created_at)
        %td=e.kind
        %td=e.severity
        %td=e.message

= will_paginate events
