%h2 Events &amp; Tasks
.pull-right=will_paginate events

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Task
      %th Current State
      %th Time
  %tbody
    - tasks.each do |t|
      %tr
        %td
          %a{ :href => url("/tasks/#{t.id}")}="#{t.worker_klass.camelize.gsub(/Worker$/,'')}"
        %td=state_to_badge(t.state)
        %td
          %small
            - time_ago(t.created_at)
