%h3="My Servers"

- pagination(images, "/servers", :klass => [ 'pull-right' ])

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Server
      %th Instance
      %th Provider
      %th Account
      %th Image
      %th IP Address
      %th State
  %tbody
    - servers.each do |s|
      %tr
        %td
          %a{ :href => url("/servers/#{s.id}")}=s.id
        %td=s.instance_id
        %td
          %span{:class => 'label label-info'}=s.image.account.driver
        %td
          %a{ :href => url("/accounts/#{s.image.account.id}")}=s.image.account.name
        %td
          %a{ :href => url("/images/#{s.image.id}")}=s.image.name
        %td=s.address
        %td
          %span.label=s.state

- pagination(images, "/servers")
