%h2="#{server.image.name} server"

%p{ :class => 'pull-right'}
  %a{ :class => 'btn btn-danger', :href => "/servers/#{server.id}/destroy" } Delete

- show_model(server)

%h3 Recipes

%table.table.table-striped.table-bordered
  %tbody
    - server.recipes.each do |r|
      %tr
        %td
          %a{ :href => "/recipes/#{r.id}"}=r.name


%h3 Events

%table.table.table-striped.table-bordered
  %tbody
    - server.events.each do |e|
      %tr{:class => e.severity.downcase }
        %td
          %small
            - time_ago(e.created_at)
        %td=e.severity
        %td=e.message
